.esignature-menu--signed-item {
	margin-bottom: var(--margin-sm);
	max-width: 100%;
}

.esignature-menu--signed-item .data-pill {
	/* background-color: var(--control-bg-on-gray); */
	background-color: var(--bg-green);
	box-shadow: none;
}

.esignature-menu--agreement-url {
	margin-bottom: var(--margin-sm);
	max-width: 100%;

	&.yellow-pill {
		.data-pill {
			background-color: var(--yellow-300);
			box-shadow: none;
		}
	
		a {
			color: var(--yellow-50);
		}

		.icon {
			--icon-stroke: var(--yellow-50);
		}
	}

	&.green-pill {
		.data-pill {
			background-color: var(--green-400);
			box-shadow: none;
		}
	
		a {
			color: var(--green-50);
		}

		.icon {
			--icon-stroke: var(--green-50);
		}
	}

	&.blue-pill {
		.data-pill {
			background-color: var(--blue-300);
			box-shadow: none;
		}
	
		a {
			color: var(--blue-50);
		}

		.icon {
			--icon-stroke: var(--blue-50);
		}
	}

	&.red-pill {
		.data-pill {
			background-color: var(--red-400);
			box-shadow: none;
		}
	
		a {
			color: var(--red-50);
		}

		.icon {
			--icon-stroke: var(--red-50);
		}
	}
}